$header-footer-height: 100px;

* {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

header,
footer {
    height: $header-footer-height;
    width: 100%;
}

.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5%;
    width: 90%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    text-align: center;
}
